<a href="https://colab.research.google.com/github/anastasiablokhina/Data_Visualization_with_Python_and_R/blob/main/lab_1_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Для выполнения заданий возьмите данные из папки [data](https://drive.google.com/drive/folders/17E4vB5kWr5FNjLKRU4XGoJSVTxn1jkg4?usp=sharing) о продажах. Данные распределены по 4 папкам:
* sales_train.csv - данные о продажах с января 2013 по октябрь 2015.
** date - дата продажы
** date_block_num - номер месяца по порядку следования
** shop_id - идентификатор магазина
** item_id - идентификатор товара
** item_price - цена товара
** item_cnt_day - количество проданного товара одного вида в день

* items.csv - подробная информация о товарах
** item_id - идентификатор товара
** item_name - название товара
** category_id - идентификатор категории товара

* item_categories.csv - подробная информация о категориях товаров
** item_category_id - идентификатор категории товара
** category_name - название категории товара

* shops.csv - подробная информация о магазинах
** shop_id - идентификатор магазина
** shop_name - название магазина

# Задание 1

1. Найдите топ-10 самых часто покупаемых товаров (не забудьте учесть столбец item_cnt_day).
2. Оставьте только те из них, которые покупали все три года (2013, 2014, 2015).

Выполнение пункта 1

In [ ]:
sales_train <- read.csv('/content/sales_train.csv')
items <- read.csv('/content/items.csv')
item_categories <- read.csv('/content/item_categories.csv')
shops <- read.csv('/content/shops.csv')
library(dplyr)
library(data.table)

In [ ]:
sales_train_merged <- merge(sales_train, items, by="item_id")
result <- sales_train_merged %>%
  group_by(item_id, item_name) %>%
  summarise(item_cnt_day = sum(item_cnt_day))
task_1 <- head(result[order(result$item_cnt_day, decreasing=TRUE),], n=10)
task_1

`summarise()` has grouped output by 'item_id'. You can override using the
`.groups` argument.

   item_id item_name
1  20949   Corporate package T-shirt 1C Interest white (34 * 42) 45 microns
2   2808   Diablo III [PC, Jewel, Russian version]
3   3732   Grand Theft Auto V [PS3, Russian subtitles]
4  17717   Acceptance of funds for 1C-Online
5   5822   Playstation Store replenishment of wallet: Payment card 1000 rubles.
6   3734   Grand Theft Auto V [Xbox 360, Russian subtitles]
7   6675   Sony PlayStation 4 (500 Gb) Black (CUH-1008A/1108A/B01)
8   3731   Grand Theft Auto V [PC, Russian subtitles]
9   1855   Battlefield 4 [PC, Russian version]
10 16787   Some of us [PS3, Russian version]
   item_cnt_day
1  187642
2   17245
3   16642
4   15830
5   14515
6   11688
7   10289
8   10099
9   10032
10   9227

Выполнение пункта 2

In [ ]:
only_task_1 <- filter(sales_train_merged, item_id %in% task_1$item_id)
year_2013 <- only_task_1[only_task_1$date_block_num %/% 12 == 0,] %>%
             group_by(item_id, item_name) %>%
             summarise(item_cnt_day = sum(item_cnt_day))
year_2014 <- only_task_1[only_task_1$date_block_num %/% 12 == 1,] %>%
             group_by(item_id, item_name) %>%
             summarise(item_cnt_day = sum(item_cnt_day))
year_2015 <- only_task_1[only_task_1$date_block_num %/% 12 == 2,] %>%
             group_by(item_id, item_name) %>%
             summarise(item_cnt_day = sum(item_cnt_day))
task_1_2 <- filter(task_1, item_id %in% year_2013$item_id & item_id %in% year_2014$item_id & item_id %in% year_2013$item_id)
task_1_2

`summarise()` has grouped output by 'item_id'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'item_id'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'item_id'. You can override using the
`.groups` argument.

  item_id item_name
1 20949   Corporate package T-shirt 1C Interest white (34 * 42) 45 microns
2  2808   Diablo III [PC, Jewel, Russian version]
3  3732   Grand Theft Auto V [PS3, Russian subtitles]
4 17717   Acceptance of funds for 1C-Online
5  5822   Playstation Store replenishment of wallet: Payment card 1000 rubles.
6  3734   Grand Theft Auto V [Xbox 360, Russian subtitles]
7  6675   Sony PlayStation 4 (500 Gb) Black (CUH-1008A/1108A/B01)
8  1855   Battlefield 4 [PC, Russian version]
9 16787   Some of us [PS3, Russian version]
  item_cnt_day
1 187642
2  17245
3  16642
4  15830
5  14515
6  11688
7  10289
8  10032
9   9227

# Задание 2

> При выполнении на pandas не используйте merge().

1. Определите категорию товаров, в которой совершается минимальное число покупок. Выведите айди и название категории.
2. Определите категорию товаров, в которой совершается максимальное число покупок. Выведите айди и название категории.

Выполнение пункта 1

In [ ]:
new_item_categories <- rename(item_categories,
                       category_id = item_category_id)
sales_train_super_merged <- merge(sales_train_merged, new_item_categories, by="category_id")
df <- sales_train_super_merged %>%
      group_by(category_id, item_category_name) %>%
      summarise(item_cnt_day = sum(item_cnt_day))
min_value <- min(df$item_cnt_day)
min_category = df[df$item_cnt_day == min_value, ]
min_category[,1:2]

`summarise()` has grouped output by 'category_id'. You can override using the
`.groups` argument.

  category_id item_category_name
1 10           Game consoles - PS2
2 51           Books - Cognitive literature

Выполнение пункта 2

In [ ]:
max_value <- max(df$item_cnt_day)
max_category = df[df$item_cnt_day == max_value, ]
max_category[, 1:2]

  category_id item_category_name
1 40           Cinema - DVD

# Задание 3

1. Для категорий из задания 2 найдите среднее количество продаж каждого товара категории в 5 магазинах с наибольшими продажами.
2. Найдите месяцы с минимальными и максимальными продажами для каждого товара из пункта 1.

Выполенние пункта 1

In [ ]:
#пять магазинов
grouped_by_shops <- sales_train_merged %>%
                    group_by(shop_id) %>%
                    summarise(item_cnt_day = sum(item_cnt_day))
top_shops <- head(grouped_by_shops[order(grouped_by_shops$item_cnt_day, decreasing=TRUE),], n=5)
only_top_shops <- merge(sales_train_merged, top_shops, by="shop_id")
grouped_only_top_shops <- only_top_shops %>%
                          group_by(category_id, item_id, item_name) %>%
                          summarise(item_cnt_day.x = mean(item_cnt_day.x))
#пустой вывод, товары категорий с минимальными продажами в топовых магазинах не продавались
grouped_only_top_shops[grouped_only_top_shops$category_id == 10 | grouped_only_top_shops$category_id == 51, ] 
#вывод средней цены для товаров категории с максимальными продажами
grouped_only_top_shops[grouped_only_top_shops$category_id == 40, ]

`summarise()` has grouped output by 'category_id', 'item_id'. You can override
using the `.groups` argument.

     category_id item_id item_name item_cnt_day.x

     category_id item_id item_name
1    40           0      !! IN THE POWER OF HAPPINESS (PLAST) D
2    40           2      *** IN THE GLORY OF THE GLORY (UNV) D
3    40           3      *** BLUE WAVE (Univ) D
4    40           4      *** BOX (GLASS) D
5    40           5      *** NEW AMERICAN GRAPHICS (UNI) D
6    40           6      *** BLOCK ON THE GATES (UNI) D
7    40           7      *** SHOCK AT DOOR-2 (UNI) D
8    40           8      *** TEA WITH MUSSOLINI D
9    40           9      *** SHUGARLEND EXPRESS (UNI) D
10   40          10      * Beyond Death's Edge D
11   40          11      * LINE OF COMMENTS D
12   40          13      * SAVING EMILY D
13   40          14      * PRIVATE PROFESSOR / MAGIC / D
14   40          15      // ADRENALIN: ONE AGAINST ALL (Region)
15   40          18      / BOMB FOR THE BRIDE / 2DVD / D
16   40          19      / GOLDEN COLLECTION m / f-72
17   40          20      / ONCE IN CHINA-2
18   40          21      /LAST CHANCE
19   40          22      / CURED EL CHARRO
20   40          23      / NORTH AND SOUTH / N.2
21   40          24      / THE DEATH PASSAGE
22   40          25      /YOU ARE DEAD
23   40          26      / MULTIPLE FREQUENCY vol.2 (ser.3-4)
24   40          30      007: COORDINATES "SKYFOLL"
25   40          32      1+1
26   40          34      10 000 YEARS OLDER OUR WB (region)
27   40          35      10 YEARS LATER
28   40          37      10 YEARS LATER (region)
29   40          43      100 MILLION EURO
30   40          63      101 DALMATINE wd
⋮    ⋮           ⋮       ⋮
4685 40          22075   EFFECTIVE SLIMMING: Fitness yoga. First level.
4686 40          22108   YUNONA AND AVOS (N.Karachentsov)
4687 40          22114   I WILL BE NEAR
4688 40          22116   I AND MONIKA VELIUR
4689 40          22119   I DO NOT KNOW HOW IT DOES IT (region)
4690 40          22120   I AM NORMALLY SUPER GOOD (region)
4691 40          22121   I'm VERY EXCITED
4692 40          22123   I AM VERY EXCITED (region)
4693 40          22124   I SPIT ON YOUR GRAVE
4694 40          22126   I PIG ON YOUR TREASURE 2
4695 40          22128   I'm SAM (region)
4696 40          22129   I ALSO
4697 40          22130   I ALSO WANT TO
4698 40          22132   I ALSO WANT TO (region)
4699 40          22133   I STEP BY MOSCOW (region)
4700 40          22134   I, ALEX CROSS
4701 40          22136   I, ALEX CROSS (region)
4702 40          22141   Me, AGAIN AND MOM
4703 40          22143   I AM FRANKENSTEIN
4704 40          22147   I-LEGEND WB (region)
4705 40          22148   I-FOURTH WD
4706 40          22149   I-FOURTH WD (Region)
4707 40          22151   SCENE (2012)
4708 40          22152   SCENE (2012) (region)
4709 40          22156   POISONS, OR WORLD HISTORY OF POISONING (region)
4710 40          22157   YALTA 45
4711 40          22159   YANKOVSKY
4712 40          22160   FAIR OF FAIRY (Region)
4713 40          22162   THE FATHER
4714 40          22163   FURNISH (region)
     item_cnt_day.x
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    1.000000
10   1.000000
11   1.000000
12   1.000000
13   1.000000
14   1.000000
15   1.000000
16   1.000000
17   1.000000
18   1.000000
19   1.000000
20   1.000000
21   1.000000
22   1.000000
23   1.000000
24   1.869565
25   1.241431
26   1.000000
27   1.428571
28   1.000000
29   1.000000
30   1.000000
⋮    ⋮
4685 1.000000
4686 1.000000
4687 1.025641
4688 1.000000
4689 1.031250
4690 1.000000
4691 1.415385
4692 1.000000
4693 1.000000
4694 1.328767
4695 1.000000
4696 1.000000
4697 1.455556
4698 1.022727
4699 1.000000
4700 1.377778
4701 1.000000
4702 1.148148
4703 1.644578
4704 1.000000
4705 1.000000
4706 1.000000
4707 1.540000
4708 1.000000
4709 1.000000
4710 1.000000
4711 1.142857
4712 1.000000
4713 1.481283
4714 1.114286

Выполнение пункта 2

In [ ]:
grouped_min_only_top_shops <- only_top_shops %>%
                              group_by(category_id, item_id, item_name, date_block_num) %>%
                              summarise(item_cnt_day.x = min(item_cnt_day.x))
grouped_min_only_top_shops <- grouped_min_only_top_shops[order(grouped_min_only_top_shops$item_cnt_day.x),]
grouped_min_only_top_shops <- grouped_min_only_top_shops[!duplicated(grouped_min_only_top_shops$item_id),] 
grouped_min_only_top_shops[grouped_min_only_top_shops$category_id == 10 | grouped_min_only_top_shops$category_id == 51, ] #пустой вывод, товары не продавались в топ-магизнах
grouped_min_only_top_shops[grouped_min_only_top_shops$category_id == 40, ]

`summarise()` has grouped output by 'category_id', 'item_id', 'item_name'. You
can override using the `.groups` argument.

     category_id item_id item_name date_block_num item_cnt_day.x

     category_id item_id item_name
1    40             30   007: COORDINATES "SKYFOLL"
2    40            934   2 STARS
3    40           4380   LEGO STAR WARS OF EMPIRE IMPOSES IMPACT
4    40           8100   AUGUST
5    40           8388   ASTERICS AND OBELIX IN BRITAIN
6    40           8585   BAKUGAN. ISSUE 4. EPISODES 21-26
7    40           8628   BARBIE AND THREE MUSHROOMS (region)
8    40           8647   BARBIE: PRINCESS AND POP-STAR (region)
9    40           8740   THE UNKNOWN STAR (region)
10   40           8775   WHITE ELEPHANT
11   40           8843   WROIT. CINEMA WITHOUT BORDERS
12   40           8913   BLINDAŽ (region)
13   40           8948   PAIN WITHOUT RIGHT
14   40           8971   GREAT CHANGE 1-2 (region)
15   40           9043   THE BRIGADE. HEIR
16   40           9507   SEARCH FOR NEMO (region)
17   40           9511   In the HEART RHYTHM (region)
18   40           9589   UP (region)
19   40           9705   BBC: PLANET OF PEOPLE (4 DVDs)
20   40           9842   SPRING IN THE NURSERY STREET (region)
21   40           9855   VIVA, GARDEMARINS! (rem)
22   40           9921   LOVE
23   40           9940   MILITARY INTELLIGENCE 2: THE FIRST IMPACT (region)
24   40           9943   MILITARY INTELLIGENCE: NORTH FRONT (region)
25   40          10004   WIZARD OF EMERALD CITY sb.m / f (region)
26   40          10096   UNIVERSE. 7 MIRACLES OF THE SOLAR SYSTEM
27   40          10292   DESPICABLE ME
28   40          10298   DESPICABLE ME 2
29   40          10314   HERE 3 (rem)
30   40          10318   GARDEMARINES, FORWARD! (1-2 SERIES) (rem)
⋮    ⋮           ⋮       ⋮
4685 40          22108   YUNONA AND AVOS (N.Karachentsov)
4686 40          22114   I WILL BE NEAR
4687 40          22116   I AND MONIKA VELIUR
4688 40          22119   I DO NOT KNOW HOW IT DOES IT (region)
4689 40          22120   I AM NORMALLY SUPER GOOD (region)
4690 40          22121   I'm VERY EXCITED
4691 40          22123   I AM VERY EXCITED (region)
4692 40          22124   I SPIT ON YOUR GRAVE
4693 40          22126   I PIG ON YOUR TREASURE 2
4694 40          22128   I'm SAM (region)
4695 40          22129   I ALSO
4696 40          22130   I ALSO WANT TO
4697 40          22132   I ALSO WANT TO (region)
4698 40          22133   I STEP BY MOSCOW (region)
4699 40          22134   I, ALEX CROSS
4700 40          22136   I, ALEX CROSS (region)
4701 40          22141   Me, AGAIN AND MOM
4702 40          22143   I AM FRANKENSTEIN
4703 40          22147   I-LEGEND WB (region)
4704 40          22148   I-FOURTH WD
4705 40          22149   I-FOURTH WD (Region)
4706 40          22151   SCENE (2012)
4707 40          22152   SCENE (2012) (region)
4708 40          22156   POISONS, OR WORLD HISTORY OF POISONING (region)
4709 40          22157   YALTA 45
4710 40          22159   YANKOVSKY
4711 40          22160   FAIR OF FAIRY (Region)
4712 40          22162   THE FATHER
4713 40          22163   FURNISH (region)
4714 40          21449   THE Keeper OF THE MOON
     date_block_num item_cnt_day.x
1     1             -1
2    15             -1
3    14             -1
4    17             -1
5     4             -1
6     0             -1
7     4             -1
8     1             -1
9     8             -1
10    0             -1
11    7             -1
12    1             -1
13    9             -1
14   21             -1
15    1             -1
16   18             -1
17    0             -1
18   19             -1
19    0             -1
20   16             -1
21   26             -1
22    5             -1
23    1             -1
24    1             -1
25   19             -1
26   12             -1
27   24             -1
28   12             -1
29   26             -1
30   26             -1
⋮    ⋮              ⋮
4685  2             1
4686  3             1
4687  2             1
4688  1             1
4689  3             1
4690  6             1
4691  9             1
4692  0             1
4693  9             1
4694  0             1
4695  0             1
4696  0             1
4697  2             1
4698 13             1
4699  0             1
4700  2             1
4701 13             1
4702 14             1
4703  0             1
4704  6             1
4705  0             1
4706  0             1
4707  2             1
4708  4             1
4709  4             1
4710 28             1
4711  0             1
4712 25             1
4713 31             1
4714 33             2

# Задание 4

1. Для категорий из задания 2 найдите среднюю и медианную цену по категории в пределах каждого месяца.
2. В каждом году найдите месяцы, в которых средняя цена меньше, чем в предыдущем и следующем месяце.

Выполнение пункта 1

In [ ]:
only_items_10_51 <- merge(min_category, sales_train_super_merged, by='category_id')
only_items_40 <- merge(max_category, sales_train_super_merged, by='category_id')
grouped_only_items_10_51 <- only_items_10_51%>%
                            group_by(category_id, date_block_num) %>%
                            summarise(item_averege_price = mean(item_price),
                                      item_median_price = median(item_price))
grouped_only_items_40 <- only_items_40%>%
                            group_by(category_id, date_block_num) %>%
                            summarise(item_averege_price = mean(item_price),
                            item_median_price = median(item_price))
df1 = grouped_only_items_10_51
df1
df2 = grouped_only_items_40
df2

`summarise()` has grouped output by 'category_id'. You can override using the
`.groups` argument.
`summarise()` has grouped output by 'category_id'. You can override using the
`.groups` argument.

  category_id date_block_num item_averege_price item_median_price
1 10           3             1998               1998
2 51          18              129                129

   category_id date_block_num item_averege_price item_median_price
1  40           0             244.4859           199.00
2  40           1             252.1749           203.00
3  40           2             260.6450           231.00
4  40           3             254.8524           199.00
5  40           4             247.6276           199.00
6  40           5             245.8609           199.00
7  40           6             236.8121           149.00
8  40           7             234.4702           149.00
9  40           8             241.8186           198.00
10 40           9             247.5439           199.00
11 40          10             253.2127           199.00
12 40          11             257.7663           237.00
13 40          12             252.9098           199.00
14 40          13             261.2565           248.00
15 40          14             262.4360           251.00
16 40          15             268.4081           249.00
17 40          16             254.3645           199.00
18 40          17             255.1581           199.00
19 40          18             257.3948           199.00
20 40          19             264.0901           199.00
21 40          20             265.3885           240.00
22 40          21             263.7517           199.00
23 40          22             264.0330           199.00
24 40          23             261.9187           199.00
25 40          24             263.2980           200.78
26 40          25             256.3624           199.00
27 40          26             258.1940           169.00
28 40          27             281.6307           299.00
29 40          28             286.5086           299.00
30 40          29             279.1423           249.00
31 40          30             273.2515           199.00
32 40          31             273.2421           249.00
33 40          32             279.3937           249.00
34 40          33             281.0002           249.00

Выполнение пункта 2

In [ ]:
#в категориях с наименьшими продажами по одному товару, каждый из которых был продан 1 раз, поэтому нет месяцев,
#в которых средняя цена в категории была бы меньше, чем в предыдущем и следующем
arr_2013 <- c()
arr_2014 <- c()
arr_2015 <- c()
for (i in 1:(nrow(df2) - 2)){
  if (df2$item_averege_price[i+1] < df2$item_averege_price[i] & df2$item_averege_price[i+1] < df2$item_averege_price[i+2]){
      if (df2$date_block_num[i+1] < 12){arr_2013 <- c(arr_2013, df2$date_block_num[i+1])}
      if (df2$date_block_num[i+1] < 24 & df2$date_block_num[i+1] > 11){arr_2014 <- c(arr_2014, df2$date_block_num[i+1])}
      if (df2$date_block_num[i+1] > 23){arr_2015 <- c(arr_2015, df2$date_block_num[i+1])}
    }
  } 
arr_2013
arr_2014 
arr_2015

[1] 7

[1] 12 16 21 23

[1] 25 31